In [1]:
import pandas as pd
sql_records_df = pd.read_csv("sql_df.csv")

In [2]:
sql_records_df

,full_url,event_time,hostname,injection
0,/details.php?prod=5&type=%3F,1.681395e+09,192.168.43.6,1
1,/details.php?prod=5&type=%3F&GIuz=7549%20AND%2...,1.681395e+09,192.168.43.6,1
2,/details.php?prod=5&type=%3F,1.681395e+09,192.168.43.6,1
3,/details.php?prod=7831&type=%3F,1.681395e+09,192.168.43.6,1
4,/details.php?prod=5%22%27%2C.%28%28%28%2C%2C%2...,1.681395e+09,192.168.43.6,1
...,...,...,...,...
21398,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1.681396e+09,192.168.43.6,0
21399,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,1.681396e+09,192.168.43.6,0
21400,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,1.681396e+09,192.168.43.6,0
21401,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,1.681396e+09,192.168.43.6,0
21402,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,1.681396e+09,192.168.43.6,0

In [3]:
from urllib.parse import unquote, urlparse, parse_qs

def url_decoder(full_url):
    full_url = unquote(full_url)
    return full_url

sql_records_df['parsed_url'] = sql_records_df['full_url'].apply(url_decoder)

In [4]:
sql_records_df

,full_url,event_time,hostname,injection,parsed_url
0,/details.php?prod=5&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?
1,/details.php?prod=5&type=%3F&GIuz=7549%20AND%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?&GIuz=7549 AND 1=1 U...
2,/details.php?prod=5&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?
3,/details.php?prod=7831&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=7831&type=?
4,/details.php?prod=5%22%27%2C.%28%28%28%2C%2C%2...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5""',.(((,,,&type=?"
...,...,...,...,...,...
21398,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1.681396e+09,192.168.43.6,0,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...
21399,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,1.681396e+09,192.168.43.6,0,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...
21400,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,1.681396e+09,192.168.43.6,0,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...
21401,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,1.681396e+09,192.168.43.6,0,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...
21402,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,1.681396e+09,192.168.43.6,0,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...

In [5]:
import requests
from bs4 import BeautifulSoup

# scraping keywordow
sql_keywords = []

url = "https://www.w3schools.com/sql/sql_ref_keywords.asp"
resp = requests.get(url)
print(resp.status_code)

soup = BeautifulSoup(resp.text, 'html.parser')
for keyword in soup.findAll('td'):
    keyword = keyword.find('a')
    if(keyword!=None):
        sql_keywords.append(keyword.text)

200

In [6]:
import re

sql_keywords_counter = []

for record in sql_records_df["parsed_url"]:
    tmp = 0
    for keyword in sql_keywords:
        if(re.search(keyword,record)):
            tmp = tmp +1
    sql_keywords_counter.append(tmp)

sql_records_df["sql_keyword"] = sql_keywords_counter

In [7]:
sql_records_df

,full_url,event_time,hostname,injection,parsed_url,sql_keyword
0,/details.php?prod=5&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?,0
1,/details.php?prod=5&type=%3F&GIuz=7549%20AND%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?&GIuz=7549 AND 1=1 U...,8
2,/details.php?prod=5&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?,0
3,/details.php?prod=7831&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=7831&type=?,0
4,/details.php?prod=5%22%27%2C.%28%28%28%2C%2C%2...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5""',.(((,,,&type=?",0
...,...,...,...,...,...,...
21398,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1.681396e+09,192.168.43.6,0,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1
21399,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,1.681396e+09,192.168.43.6,0,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,0
21400,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,1.681396e+09,192.168.43.6,0,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,0
21401,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,1.681396e+09,192.168.43.6,0,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,0
21402,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,1.681396e+09,192.168.43.6,0,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,0

In [8]:
params_length = []

for record in sql_records_df["parsed_url"]:
    tmp = 0
    params = []

    for i in parse_qs(record).values():
       # print(str(i))
       # print(re.search(r"\['(\b.*)'\]",str(i)).group(1))
       # params.append(re.search(r"\['(\b.*)'\]",str(i)).group(1))
        params.append(str(i)[2:-2])
    
    for param in params:
        tmp = tmp + len((param))

    params_length.append(tmp)
  
sql_records_df["params_length"] = params_length

In [9]:
print(len(sql_records_df.loc[sql_records_df["params_length"] < 10]))
sql_records_df = sql_records_df[sql_records_df["params_length"] != 2]
print(len(sql_records_df))

15287
6131

In [10]:
sql_records_df

,full_url,event_time,hostname,injection,parsed_url,sql_keyword,params_length
1,/details.php?prod=5&type=%3F&GIuz=7549%20AND%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?&GIuz=7549 AND 1=1 U...,8,178
3,/details.php?prod=7831&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=7831&type=?,0,5
4,/details.php?prod=5%22%27%2C.%28%28%28%2C%2C%2...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5""',.(((,,,&type=?",0,13
5,/details.php?prod=5%27TZjPyH%3C%27%22%3EmqKgLf...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5'TZjPyH<'"">mqKgLf&type=?",0,21
6,/details.php?prod=5%29%20AND%204971%3D8255--%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5) AND 4971=8255-- JLuW&type=?,1,24
...,...,...,...,...,...,...,...
21398,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1.681396e+09,192.168.43.6,0,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1,48
21399,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,1.681396e+09,192.168.43.6,0,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,0,34
21400,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,1.681396e+09,192.168.43.6,0,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,0,37
21401,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,1.681396e+09,192.168.43.6,0,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,0,32
21402,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,1.681396e+09,192.168.43.6,0,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,0,28

In [11]:
indexes = []
base_event_time = 0
period = 10 # value in seconds


sql_records_df["request_volume"] = "NaN"
hostname_list = sql_records_df.hostname.unique()

for hostname in hostname_list:
    base_event_time = sql_records_df.loc[sql_records_df["hostname"] == hostname]["event_time"].to_list()[0]

    for time in sql_records_df.loc[sql_records_df["hostname"] == hostname]["event_time"].to_list():
        if(time < (float(base_event_time) + float(period))):
            indexes.append(sql_records_df.loc[(sql_records_df["hostname"] == hostname) & (sql_records_df["event_time"] == time)].index[0])  
                   
        else:
            #print(indexes)
            for index in indexes:
                sql_records_df.at[index , "request_volume"] = len(indexes)/period 
            
            indexes = []
            indexes.append(sql_records_df.loc[(sql_records_df["hostname"] == hostname) & (sql_records_df["event_time"] == time)].index[0])  
            base_event_time =  time
            #print(f'{base_event_time} --  {indexes}')
            
    for index in indexes:
        sql_records_df.at[index , "request_volume"] = len(indexes)/period
    indexes = []

/tmp/ipykernel_4301/459837787.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sql_records_df["request_volume"] = "NaN"

In [12]:
sql_records_df

,full_url,event_time,hostname,injection,parsed_url,sql_keyword,params_length,request_volume
1,/details.php?prod=5&type=%3F&GIuz=7549%20AND%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?&GIuz=7549 AND 1=1 U...,8,178,3.5
3,/details.php?prod=7831&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=7831&type=?,0,5,3.5
4,/details.php?prod=5%22%27%2C.%28%28%28%2C%2C%2...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5""',.(((,,,&type=?",0,13,3.5
5,/details.php?prod=5%27TZjPyH%3C%27%22%3EmqKgLf...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5'TZjPyH<'"">mqKgLf&type=?",0,21,3.5
6,/details.php?prod=5%29%20AND%204971%3D8255--%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5) AND 4971=8255-- JLuW&type=?,1,24,3.5
...,...,...,...,...,...,...,...,...
21398,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1.681396e+09,192.168.43.6,0,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1,48,0.5
21399,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,1.681396e+09,192.168.43.6,0,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,0,34,0.5
21400,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,1.681396e+09,192.168.43.6,0,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,0,37,0.5
21401,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,1.681396e+09,192.168.43.6,0,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,0,32,0.5
21402,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,1.681396e+09,192.168.43.6,0,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,0,28,0.5

In [13]:
# * need to be escaped in regexp engine to be interpreted as character
special_chars_list = ['--', '\'' , '\"', ':', ';', '#', '/\*', '\*/', ',', '.', '\(' , '\)']

special_chars_count = []

for record in sql_records_df["parsed_url"]:
    counter_tmp = 0
    for element in special_chars_list:
        if(re.search(element, record)):
            counter_tmp = counter_tmp + 1
    special_chars_count.append(counter_tmp)

sql_records_df["special_chars"] = special_chars_count

/tmp/ipykernel_4301/732144526.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sql_records_df["special_chars"] = special_chars_count

In [14]:
sql_records_df

,full_url,event_time,hostname,injection,parsed_url,sql_keyword,params_length,request_volume,special_chars
1,/details.php?prod=5&type=%3F&GIuz=7549%20AND%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5&type=?&GIuz=7549 AND 1=1 U...,8,178,3.5,11
3,/details.php?prod=7831&type=%3F,1.681395e+09,192.168.43.6,1,/details.php?prod=7831&type=?,0,5,3.5,1
4,/details.php?prod=5%22%27%2C.%28%28%28%2C%2C%2...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5""',.(((,,,&type=?",0,13,3.5,5
5,/details.php?prod=5%27TZjPyH%3C%27%22%3EmqKgLf...,1.681395e+09,192.168.43.6,1,"/details.php?prod=5'TZjPyH<'"">mqKgLf&type=?",0,21,3.5,3
6,/details.php?prod=5%29%20AND%204971%3D8255--%2...,1.681395e+09,192.168.43.6,1,/details.php?prod=5) AND 4971=8255-- JLuW&type=?,1,24,3.5,3
...,...,...,...,...,...,...,...,...,...
21398,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1.681396e+09,192.168.43.6,0,/details.php?type=NFGCVXOINZFWXTOGXHSPDAGOAKBB...,1,48,0.5,1
21399,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,1.681396e+09,192.168.43.6,0,/details.php?type=SKNSBV&prod=DIKRVZSYGNTAKAQJ...,0,34,0.5,1
21400,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,1.681396e+09,192.168.43.6,0,/details.php?type=RGWZVRWBQAZDG&prod=SYJEEIXZS...,0,37,0.5,1
21401,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,1.681396e+09,192.168.43.6,0,/details.php?type=EHFZ&prod=WTOTSYLRJLXXJKAYVU...,0,32,0.5,1
21402,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,1.681396e+09,192.168.43.6,0,/details.php?type=XLELQAICVH&prod=EOQHTJKTXRHV...,0,28,0.5,1

In [15]:
sql_records_df["values_to_length"] = (sql_records_df["sql_keyword"] + sql_records_df["special_chars"]) * 100 / sql_records_df["params_length"]

/tmp/ipykernel_4301/1851704933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sql_records_df["values_to_length"] = (sql_records_df["sql_keyword"] + sql_records_df["special_chars"]) * 100 / sql_records_df["params_length"]

In [16]:
sql_records_df = sql_records_df.reindex(columns=['full_url', 'parsed_url', 'hostname', 'event_time',
                                                'sql_keyword', 'params_length', 'request_volume', 
                                                'special_chars', 'values_to_length', 'injection'])

In [17]:
sql_records_df.to_csv("sql_df_preprocessed.csv", index=False)

## Lista skanerÃ³w SQLinjection:
- SQLMap â€“ Automatic SQL injection and database 
- jSQL Injection â€“ Java tool for automatic SQL 
- DSSS â€“ Damn small SQLi scanner